<!DOCTYPE html>
<html>
  <head>
    <title>rpCheckup - By Gold Fig Labs</title>
    <style>
      body {
        font-family: sans-serif;
      }

      .report {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .report table {
        font-size: 16px;
        border-spacing: 0;
        margin: auto;
      }

      .report td,
      .report th {
        border: 1px solid #888;
        padding: 4px 10px;
        text-align: center;
      }

      .report th {
        font-style: italic;
        font-weight: bold;
      }

      .red {
        background-color: #f4cccc;
      }

      .orange {
        background-color: #fcd6af;
      }

      .green {
        background-color: #d9ead3;
      }

      .yellow {
        background-color: #fff2cc;
      }

      .report td.identifier {
        text-align: left;
      }

      .two_columns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 900px;
        width: 100%;
      }

      .legend h3,
      .legend h4 {
        margin-bottom: 4px;
      }

      .two_columns section {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 0px;
        max-width: 50%;
      }

      .metadata {
        font-weight: bold;
      }

      .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .notes li {
        padding: 4px;
      }

      .notes h4 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main class="report">
      <h1>rpCheckup - AWS resource policy report</h1>
      <div class="two_columns" style="width: 100%;">
        <section>
          <p>
            Account snapshot:
            <span class="metadata">{{humanize .Report.Metadata.Imported}}</span>
          </p>
          <p>
            Report generated:
            <span class="metadata">{{humanize .Report.Metadata.Generated}}</span>
          </p>
        </section>
        <section>
          <p>
            Organization:
            <span class="metadata">{{.Report.Metadata.Organization}}</span>
          </p>
          <p>Account ID: <span class="metadata">{{.Report.Metadata.Account}}</span></p>
        </section>
      </div>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>ARN</th>
            <th>Service</th>
            <th>Resource</th>
            <th>Access Allows</th>
            <th>In-Org Accounts</th>
            <th>External Accounts</th>
          </tr>
        </thead>
        <tbody>
          {{range $index, $row := .Report.Rows}}
          <tr>
            <td>{{inc $index}}</td>
            <td class="identifier">{{$row.Arn}}</td>
            <td class="identifier">{{$row.Service}}</td>
            <td class="identifier">{{$row.ProviderType}}
            <td class="{{color $row}}">{{$row.Access}}</td>
            <td>{{list $row.InOrgAccounts}}</td>
            <td>{{list $row.ExternalAccounts}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>

      &mdash;

      <div class="two_columns" style="width:100%">
        <section class="notes">
          <h4>Notes</h4>
          <ol>
            <li>
              This report ignores resources that can, but currently don't, have resource
              policies. That means many resources that are created and managed only by
              IAM policies will not show up here. This report is intended to cover only the
              places where a resource policy has been put in place.
            </li>
            <li>
              If the account you are scanning is not the master account in an
              Organization, other accounts in the Organization may be detected as
              external accounts. This is because non-master accounts may not have
              access to see the organization structure.
            </li>
          </ol>
        </section>
        <section class="links">
            <p>
              <a target="_blank" href="https://github.com/goldfiglabs/rpCheckup">goldfiglabs/rpCheckup</a> v0.0.4
            </p>
            <p>
              Made by <a target="_blank" href="https://www.goldfiglabs.com/">Gold Fig Labs</a>
            </p>
        </section>
      </div>
    </main>
  </body>
</html>
