<!DOCTYPE html>
<html>
  <head>
    <title>rpCheckup - By Gold Fig Labs</title>
    <style>
      .report {

        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .report table {
        font-size: 12px;
        border-spacing: 0;
        margin: auto;
      }

      .report td,
      .report th {
        border: 1px solid #888;
        padding: 4px 16px;
        text-align: center;
      }

      .report th {
        font-style: italic;
        font-weight: bold;
      }

      .red {
        background-color: #f4cccc;
      }

      .orange {
        background-color: #fcd6af;
      }

      .green {
        background-color: #d9ead3;
      }

      .yellow {
        background-color: #fff2cc;
      }

      .report td.identifier {
        text-align: left;
      }

      .two_columns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 900px;
        width: 100%;
      }

      .legend h3,
      .legend h4 {
        margin-bottom: 4px;
      }

      .two_columns section {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 0px;
        max-width: 50%;
      }

      .metadata {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <main class="report">
      <h1>rpCheckup - By Gold Fig Labs</h1>
      <div class="two_columns" style="width: 100%;">
        <section>
          <p>
            Resource policies snapshotted at:
            <span class="metadata">{{humanize .Report.Metadata.Imported}}</span>
          </p>
          <p>
            Report generated at:
            <span class="metadata">{{humanize .Report.Metadata.Generated}}</span>
          </p>
        </section>
        <section>
          <p>
            Organization:
            <span class="metadata">{{.Report.Metadata.Organization}}</span>
          </p>
          <p>Account ID: <span class="metadata">{{.Report.Metadata.Account}}</span></p>
        </section>
      </div>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>ARN</th>
            <th>Service</th>
            <th>Resource</th>
            <th>Access Allows</th>
            <th>In-Org Accounts</th>
            <th>External Accounts</th>
          </tr>
        </thead>
        <tbody>
          {{range $index, $row := .Report.Rows}}
          <tr>
            <td>{{inc $index}}</td>
            <td class="identifier">{{$row.Arn}}</td>
            <td class="identifier">{{$row.Service}}</td>
            <td class="identifier">{{$row.ProviderType}}
            <td class="{{color $row}}">{{$row.Access}}</td>
            <td>{{list $row.InOrgAccounts}}</td>
            <td>{{list $row.ExternalAccounts}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </main>
  </body>
</html>